#What are data structures, and why are they important?
   - Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
# Explain the difference between mutable and immutable data types with examples.
   - The difference between mutable and immutable data types lies in whether or not their content can be changed after they are created, Objects whose values can be changed in place after creation are mutable objects and Objects whose values cannot be changed after creation are immutable objects.
# What are the main differences between lists and tuples in Python?
   - Main Differences Between Lists and Tuples in Python
Mutability:
list is mutable and tuple is immutable
Syntax:
list uses square brackets [] and tuple uses parentheses ().
Performance:
tuple is faster and uses less memory and list is slower, with more memory overhead.
# Describe how dictionaries store data?
   - Dictionaries store data as key-value pairs using a special data structure called a hash table.
#Why might you use a set instead of a list in Python?
   - You might use a set instead of a list in Python when you need unique elements and fast membership testing.
#What is a string in Python, and how is it different from a list?
   - A string in Python is a sequence of characters enclosed in single, double, or triple quotes.A string is a sequence of characters and is immutable while in other hand a list is a sequence of elements (any type) and is mutable and Use a string for text, and a list for collections of items that may change.
# How do tuples ensure data integrity in Python?
   - Tuples help ensure data integrity by being immutable.
#What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that stores key-value pairs and allows for fast access to values using keys.Python’s dict (dictionary) is built on top of a hash table.  
#Can lists contain different data types in Python?
   - Yes, lists in Python can contain different data types. Python lists are heterogeneous, meaning they can store items of various types like integers, strings, floats, booleans, or even other lists or objects.
#Explain why strings are immutable in Python?
   - In Python, strings are immutable, meaning you cannot change their content once they are created. Any operation that seems to modify a string actually creates a new string.
#What advantages do dictionaries offer over lists for certain tasks?
   - Dictionaries offer several advantages over lists for tasks that involve key-based data lookup, organization, and performance, Avoids Duplicate Keys.
# Describe a scenario where using a tuple would be preferable over a list?
   - A tuple is preferable over a list when you need to store a fixed, unchangeable group of related values especially when the data should remain constant and be safe from modification, eg.:- location
# How do sets handle duplicate values in Python?
   - In Python, sets automatically remove duplicate values. They are designed to store only unique elements.
#How does the “in” keyword work differently for lists and dictionaries?
   - in with Lists checks if a value exists among the elements of the list while in with Dictionaries checks if a key exists, not the value.
# Can you modify the elements of a tuple? Explain why or why not?
   - No, you cannot modify the elements of a tuple in Python because they are immutable objects.
# What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary inside another dictionary. It's used to represent complex, hierarchical, or structured data, where each key maps to another dictionary as its value.
#Describe the time complexity of accessing elements in a dictionary?
   - Accessing an element in a Python dictionary using a key has an average-case time complexity of O(1) — which means it’s very fast, regardless of the dictionary’s size.
# In what situations are lists preferred over dictionaries?   
   - You should use a list instead of a dictionary when you need to work with ordered sequences of data and don’t need key-value pairs.
# Why are dictionaries considered unordered, and how does that affect data retrieval?
   - Dictionaries are still considered unordered in spirit because access is based on keys, not position. If you need reliable index-based access, use a list or OrderedDic.
# Explain the difference between a list and a dictionary in terms of data retrieval.
   - Lists are accessed by position/index and maintain their order but dictionaries are accessed by key and offer fast lookups using hashing, but their structure is based on key-value pairs.

In [1]:
# Write a code to create a string with your name and print it.
name = "Aditya"
print(name)

Aditya

In [2]:
#Write a code to find the length of the string "Hello World"
string = "Hello World"
print(len(string))

11

In [3]:
#Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[:3])

Pyt

In [4]:
#Write a code to convert the string "hello" to uppercase
string = "hello"
print(string.upper())

HELLO

In [5]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

In [6]:
# Write a code to create a list with numbers 1 to 5 and print it
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [9]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [10]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [14]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [15]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [17]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [ ]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
print(min(tuple))

In [25]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

In [26]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tuple = ("apple", "banana", "cherry")
print("kiwi" in tuple)

False

In [27]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [28]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [32]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)
#

{1, 2, 3}

In [37]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print("Union:", union_set)

Union: {1, 2, 3, 4, 5}

In [38]:
 #Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

Intersection: {3}

In [39]:
 #Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [41]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [42]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [43]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [44]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("City exists in the dictionary.")
else:
    print("City does not exist in the dictionary.")

City exists in the dictionary.

In [49]:
 #Write a code to create a list, a tuple, and a dictionary, and print them all
 list = [1,2,3]
 tuple = (1,2,3)
 dictionary = {'name': 'aditya', 'age': 20}
 print(list)
 print(tuple)
 print(dictionary)

[1, 2, 3]
(1, 2, 3)
{'name': 'aditya', 'age': 20}

In [53]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
list = [9,27,96,72,51]
list.sort()
print(list)

[9, 27, 51, 72, 96]

In [55]:
# Write a code to create a list with strings and print the element at the third index.
list = ["aditya", "aman", "shruti", "apple", "banana"]
print(list[3])

apple

In [56]:
# Write a code to combine two dictionaries into one and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [57]:
#Write a code to convert a list of strings into a set.
list = ["aditya", "aman", "shruti", "apple", "banana"]
set = set(list)
print(set)

{'apple', 'aman', 'shruti', 'aditya', 'banana'}